<section class="genplan outset-gray">
  <div class="genplan-info inset-gray">
    <svg viewBox="0 0 1082 676" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="genplan_main_svg">
          <image id="image0_7_21" data-name="genplan_main.jpg" width="3840" height="2400" href="assets/img/genplan_main.jpg"/>
          <rect id="builds_2" width="1081.6" height="674.006" fill="url(#pattern0)"/>
          <a href="blue-build-item.html" target="_blank" class="build-link">
            <path class="build-4 build" data-build-number="1" data-stages-value="25" data-flats-value="145" data-description="Lorem ipsum dolor sit amet,       Lorem beatae eum quo necessitatibus modi voluptate pariatur labore obcaecati, error totam ipsa consectetur corporis aliquid ducimus laborum nihil est consequatur voluptates mollitia maxime! Ducimus voluptate dolore harum, quo natus nam culpa accusamus, quam magnam perspiciatis vitae maxime eius.consectetur adipisicing elit. Officia quos totam illo eaque cupiditate voluptas. Voluptas nobis consequatur assumenda eligendi cupiditate quaerat commodi, voluptate possimus aperiam quidem laboriosam. Nobis ut veritatis quasi ducimus magni cupiditate beatae excepturi quis alias vero."
            d="M724.5 555.855L682.5 590.752L616.5 528.935L612.5 274.189L635.5 253.749L682.5 240.788L694 247.268L720 313.074L724.5 555.855Z" fill="#07063C" fill-opacity="0.3" stroke="#07063C" stroke-width="3"/>
          </a>
          <a href="green-build-item.html" target="_blank" class="build-link">
            <path class="build-3 build" data-build-number="2" data-stages-value="20" data-flats-value="99" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quos quidem deserunt doloremque alias! Eaque velit quasi aperiam quae, sed natus non dolorem? Incidunt ducimus aspernatur iure? Deleniti, nihil molestias perferendis, sapiente voluptate expedita unde qui fuga iste fugiat veniam totam illo eaque cupiditate voluptas. Voluptas nobis consequatur assumenda eligendi cupiditate quaerat commodi, voluptate possimus aperiam quidem laboriosam. Nobis ut veritatis quasi ducimus magni cupiditate beatae excepturi quis alias vero."
            d="M515.5 413.776L469.5 485.563L436 457.148L415 297.619L444.5 250.758L494 263.221L515.5 413.776Z" fill="#0C8C09" fill-opacity="0.3" stroke="#0C8C09" stroke-width="3"/>
          </a>
          <a href="yellow-build-item.html" class="build-link sold">
            <path class="build-2 build" data-build-number="3" data-stages-value="20" data-flats-value="99" data-description="Дом продан!"
            d="M375.5 417.265L353 456.15L309.5 434.714L270 241.785L301 217.357L339 221.345L375.5 417.265Z" fill="#EDAB03" fill-opacity="0.3" stroke="#EDAB03" stroke-width="3"/>
          </a>
          <a href="rad-build-item.html" target="_blank" class="build-link">
            <path class="build-1 build" data-build-number="4" data-stages-value="18" data-flats-value="75" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quos quidem deserunt doloremque alias! Eaque velit quasi aperiam quae, sed natus non dolorem? Incidunt ducimus aspernatur iure? Deleniti, nihil molestias perferendis, sapiente voluptate expedita unde qui fuga iste fugiat veniam totam illo eaque cupiditate voluptas. magni cupiditate beatae excepturi quis alias vero."
            d="M50 304.599L93 467.118L170 445.183L119.5 268.206L50 282.165V304.599Z" fill="#D63E2A" fill-opacity="0.3" stroke="#B42222" stroke-width="3"/>
          </a>
      <g id="builds">
     <defs>
      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
      <use xlink:href="#image0_7_21" transform="matrix(0.000260417 0 0 0.000417899 0 -0.00147926)"/>
      </pattern> 
      
     
    </svg>
  </div>
  <div class="outset-neomo building-info">
    <h2 class="building-info_title">Информация о доме</h2>
    <h5 class="building-info_number inset-neomo">Номер дома<span id="number-value">1</span></h5>
    <h5 class="building-info_stages inset-neomo">Количество этажей<span id="stages-value">25</span></h5>
    <h5 class="building-info_flats inset-neomo">Количество квартир<span id="flats-value">115</span></h5>
    <div class="building-info_descriptions inset-neomo">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos deserunt voluptatibus incidunt beatae eum quo necessitatibus modi voluptate pariatur labore obcaecati, error totam ipsa consectetur corporis aliquid ducimus laborum nihil est consequatur voluptates mollitia maxime! Ducimus voluptate dolore harum, quo natus nam culpa accusamus, quam magnam perspiciatis vitae maxime eius.
    </div>
  </div>
       
</section>
 