<section class="genplan">
    <svg width="1082" height="676" viewBox="0 0 1082 676" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="genplan_main_svg">
            <rect id="builds_2" width="1081.6" height="674.006" fill="url(#pattern0)"/>
        <g id="builds">
            <path id="build-4" class="build" d="M724.5 555.855L682.5 590.752L616.5 528.935L612.5 274.189L635.5 253.749L682.5 240.788L694 247.268L720 313.074L724.5 555.855Z" fill="#07063C" fill-opacity="0.3" stroke="#07063C" stroke-width="3"/>
            <path id="build-3" class="build" d="M515.5 413.776L469.5 485.563L436 457.148L415 297.619L444.5 250.758L494 263.221L515.5 413.776Z" fill="#0C8C09" fill-opacity="0.3" stroke="#0C8C09" stroke-width="3"/>
            <path id="build-2" class="build" d="M375.5 417.265L353 456.15L309.5 434.714L270 241.785L301 217.357L339 221.345L375.5 417.265Z" fill="#EDAB03" fill-opacity="0.3" stroke="#EDAB03" stroke-width="3"/>
            <path id="build-1" class="build" d="M50 304.599L93 467.118L170 445.183L119.5 268.206L50 282.165V304.599Z" fill="#D63E2A" fill-opacity="0.3" stroke="#B42222" stroke-width="3"/>
        </g>
        </g>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_7_21" transform="matrix(0.000260417 0 0 0.000417899 0 -0.00147926)"/>
        </pattern>
        <image id="image0_7_21" data-name="genplan_main.jpg" width="3840" height="2400" xlink:href="assets/img/genplan_main.jpg"/>
        </defs>
    </svg>
    <table class="table outset-neomo">
        <thead>
          <tr>
            <th>Номер дома</th>
            <th>Количество этажей</th>
            <th>Количество квартир</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10</td>
            <td>20</td>
            <td>92</td>
          </tr>
          <tr>
            <td>11</td>
            <td>25</td>
            <td>105</td>
          </tr>
          <tr>
            <td>12</td>
            <td>25</td>
            <td>110</td>
          </tr>
          <tr>
            <td>13</td>
            <td>28</td>
            <td>125</td>
          </tr>
        </tbody>
    </table>
</section>
 